@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

html {
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;

    background-image: url("./images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Red);
    background-position: center;

    min-height: 100vh;

    padding-block: 7.5rem;
}

main {
    max-width: 1105px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
}

main>section {
    flex: 1;
}

.content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.content__title {
    --unit: 3rem;
    font-size: var(--unit);
    line-height: calc(var(--unit) * 1.2);
}

.content__description {
    font-weight: 500;
}

.registration__title {
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--Blue);
    padding: 1.3rem 1rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
    box-shadow: 0px 9px 5px -1px rgb(0 0 0 / 27%);
}

.registration__title span {
    opacity: .7;
    font-weight: 400;
}

.registration__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0px 9px 5px -1px rgb(0 0 0 / 27%);
}

input {
    width: 100%;
    border-radius: 6px;
    padding: 1.2rem;
    font-weight: 600;
    border: 1px solid var(--Grayish-Blue);
    outline: none;
}

input.invalid {
    border-color: var(--Red);
}

.error {
    padding-left: 1rem;
    font-size: .8rem;
    color: var(--Red);
    display: none;
}

button {
    width: 100%;
    border-radius: 6px;
    padding: 1.2rem;
    background-color: var(--Green);
    color: white;
    outline: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.terms {
    text-align: center;
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    font-weight: 600;
}

.terms a {
    text-decoration: none;
    color: var(--Red);
}

@media screen and (max-width:800px) {
    main {
        display: block;
    }

    body {
        background-image: url("./images/bg-intro-mobile.png");
    }

    .content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .content__title {
        --unit: 1.7rem;
        padding-inline: 1rem;
    }

    .registration__title {
        padding-inline: 3rem;
    }
}