.wrapper .nonsubmitted {
  display: block;
}

.wrapper .submitted {
  display: none;
}

.wrapper.submitted .nonsubmitted {
  display: none;
}

.wrapper.submitted .submitted {
  display: block;
}
