@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --grey: hsl(0, 0%, 59%);
}

html {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

body {
    padding: 4rem 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 3rem 2rem;
    text-align: center;
}

h1 {
    font-weight: 300;
    color: var(--grey);
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

h1 span {
    font-weight: 700;
    color: var(--very-dark-blue);
}

.statistics {
    margin-top: 4rem;
}

form,
.statistics {
    width: 45%;
}

.input-control {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

input {
    flex: 1;
    border-radius: 2rem;
    border: 1px solid var(--grey);
    outline: none;
    padding: 1rem 1rem 1rem 2rem;
    font-size: .8rem;
    opacity: .5;
}

input:focus {
    opacity: 1;
    border-color: var(--Pale-Blue);
}

input.invalid {
    border: 1px solid var(--Light-Red);
}

.emailError {
    display: none;
    font-size: 0.8rem;
    padding-left: 2rem;
    margin-top: .5rem;
    color: var(--Light-Red);
}

button {
    border-radius: 2rem;
    background-color: var(--blue);
    padding: 1rem 3rem;
    color: white;
    outline: 0;
    border: none;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: 1px 0px 10px 1px rgb(0 0 0 / 31%);
}

footer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.social {
    display: flex;
    gap: 1rem;
}

.social div {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--Pale-Blue);
    padding: 1rem;
    color: var(--blue);
}

.social div:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue);
}

.copyright {
    font-size: .6rem;
    color: var(--grey);
}

@media screen and (max-width:1200px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width:980px) {
    html {
        font-size: 20px;
    }

    form,
    .statistics {
        width: 80%;
    }

    form {
        flex-direction: column;
    }

}