@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

.wrapper .nonsubmitted {
  display: grid;
  gap: 1rem;
}

.wrapper .submitted {
  display: none;
}

.wrapper.submitted .nonsubmitted {
  display: none;
}

.wrapper.submitted .submitted {
  display: block;
}
